@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Droid Sans Mono"), local("DroidSansMono"), url(/cba8307fbc9f8746837904ddb4c6b57c.woff) format("woff"), url(/fe985112ea6ac02f6eb90de52898d3c3.ttf) format("truetype"), url(/e380e8e34edebd43d95d12ac9ecc3159.svg) format("svg");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  background: #f0f2f5;
}

body {
  margin: 0;
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
input,
span,
hr {
  margin: 0;
  padding: 0;
}

ul,
li,
dd,
dt {
  list-style: none;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

i {
  font-style: normal;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.6;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

[hidden] {
  display: none;
}

a {
  color: rgba(0, 0, 0, .9);
  text-decoration: none;
  cursor: pointer;
}

/*a:hover {*/
/*  color: black;*/
/*}*/

/*a.active {*/
/*  color: black;*/
/*}*/

.ant-layout-content {
  min-height: auto;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: 0;
}

.ant-menu-root.ant-menu-vertical,
.ant-menu-root.ant-menu-vertical-left,
.ant-menu-root.ant-menu-vertical-right,
.ant-menu-root.ant-menu-inline {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ant-progress-show-info .ant-progress-outer {
  padding-right: calc(2em + 12px);
  margin-right: calc(-2em - 12px);
}

.ant-progress-bg {
  background: -webkit-gradient(linear, right top, left top, from(#37ACF6), to(#5C55FF)) !important;
  background: linear-gradient(270deg, #37ACF6 0%, #5C55FF 100%) !important;
}

.ant-progress.ant-progress-line .ant-progress-text {
  color: rgba(0, 0, 0, .65);
  font-size: 14px;
}

.ant-popover-inner-content {
  text-align: center;
}

.ant-pagination-options-quick-jumper input {
  vertical-align: bottom;
}

.ant-pagination-simple .ant-pagination-simple-pager input {
  pointer-events: none;
  border: 0;
  margin-right: 0;
  padding: 0;
}

.ant-tooltip {
  max-width: 280px !important;
}

.ant-select-arrow {
  color: rgba(0, 0, 0, .65);
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 1200px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100%;
}

::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

.cf:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.cf {
  zoom: 1;
}

.disabled {
  cursor: not-allowed !important;
  pointer-events: none !important;
  background: #eee !important;
  opacity: 1;
}

.disabled * {
  cursor: not-allowed !important;
}

.relative {
  position: relative;
}

a.disabled-link {
  pointer-events: none !important;
  opacity: 1;
  color: rgba(0, 0, 0, .65);
}

a.disabled-link * {
  pointer-events: none !important;
}

.full-height {
  /*height: 100vh;*/
  overflow: scroll;
}

.view-width {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.content-container {
  font-size: 14px;
  color: rgba(0, 0, 0, .65);
}

.wrapper {
  min-height: 100vh;
}

.filter-container {
  margin-bottom: 18px;
  color: rgba(255, 0, 0, .65);
}

.btc-icon:before {
  display: inline-block;
  content: '';
  margin-right: 2px;
  background: url(/89ba110b5010ff0b3ae9cbf0794f3db3.png);
  background-size: 11px 14px;
  width: 11px;
  height: 14px;
  vertical-align: middle;
}

.hash {
  font-family: 'Droid Sans Mono', Menlo, Monaco, Consolas, 'Courier New', monospace !important;
}

.link,
.link a,
.link a:visited {
  color: #37acf6;
  cursor: pointer;
}

a.link:hover {
  color: #80ceff;
}

.checkbox {
  margin-left: 20px;
  font-weight: 400;
}

.nowrap {
  white-space: nowrap;
}

.keep-all {
  word-break: keep-all;
}

.bold {
  font-weight: 500;
}

.left {
  float: left;
}

.right {
  float: right;
}

.inline-block {
  display: inline-block;
}

.text-flex-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}
.text-flex-right i {
  background: url(/0b6fa7a8ec87f108eafba8e142359ace.png) no-repeat;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  display: inline-block;
  /*vertical-align: middle;*/
  margin-right: 3px;
}

.text-flex-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
}

.vertical-top {
  vertical-align: top;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.vertical-bottom {
  vertical-align: bottom;
}

.eq-flex {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.eq-flex .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.eq-flex .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.page-container {
  background-color: #fff;
  width: 1200px;
  margin: 20px auto 0 auto;
  padding: 24px 10px;
  min-height: calc(100vh - 275px);
}

.page-container .page-title {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, .85);
  margin-bottom: 16px;
}

.margin-top-xlg {
  margin-top: 40px;
}

.margin-top-lg {
  margin-top: 25px;
}

.margin-top-md {
  margin-top: 15px;
}

.margin-top-sm {
  margin-top: 10px;
}

.margin-bottom-lg {
  margin-bottom: 25px;
}

.margin-bottom-md {
  margin-bottom: 15px;
}

.margin-bottom-sm {
  margin-bottom: 10px;
}

.margin-left-lg {
  margin-left: 25px;
}

.margin-left-md {
  margin-left: 15px;
}

.margin-left-sm {
  margin-left: 10px;
}

.nopadding-sides {
  padding-left: 0;
  padding-right: 0;
}

.ant-table-thead > tr > th.smpadding-sides,
.ant-table-tbody > tr > td.smpadding-sides {
  padding-left: 6px;
  padding-right: 6px;
}

.nopadding-left {
  padding-left: 0;
}

.nopadding-right {
  padding-right: 0;
}

.div-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .25);
}

.div-scroll::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.list-header {
  margin-bottom: 16px;
}

.with-icon-left {
  position: relative;
  padding-left: 20px;
  white-space: nowrap;
}

.with-icon-left.large-padding {
  padding-left: 50px;
}

table > thead > tr > th.with-icon-left-header > div > span {
  padding-left: 20px;
}

.with-icon-right {
  position: relative;
  padding-right: 20px;
  white-space: nowrap;
}

.with-icon-right.large-padding {
  padding-right: 50px;
}

table > thead > tr > th.with-icon-right-header > div > span {
  padding-right: 20px;
}

.cell-text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: bottom;
}

i.cell-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: no-repeat center center;
  background-size: 18px 18px;
  vertical-align: middle;
}

i.cell-icon.contract-tx-icon {
  background-image: url(/bdd5b017ecedfc0f54b2f0f447091388.png);
  vertical-align: top;
  margin-left: 5px;
}

i.cell-icon.account-name-icon {
  margin-left: 5px;
  padding: 0 4px;
  text-align: center;
  width: auto;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  color: #37acf6;
  background: #e6f7ff;
  border-radius: 4px;
  border: 1px solid #91d5ff;
}

i.cell-icon.token-name-icon {
  vertical-align: top;
  margin-right: 5px;
  position: absolute;
  left: 0;
  top: 1px;
}

i.cell-icon.miner-name-icon {
  vertical-align: top;
  margin-right: 5px;
  position: absolute;
  left: -4px;
  top: 1px;
}

i.cell-icon.tx-direction-icon {
  background-image: url(/8cbe6446f424691a05b9873a5e583a0d.png);
  background-position: center -4px;
}

i.cell-icon.tx-status-success {
  position: absolute;
  left: 0;
  top: 3px;
  width: 14px;
  height: 14px;
  background: url(/90dc55e8415c71afbe11f6b4eabac665.png) 0 -14px no-repeat;
  background-size: 14px 42px;
}

i.cell-icon.tx-status-failed {
  position: absolute;
  left: 0;
  top: 3px;
  width: 14px;
  height: 14px;
  background: url(/90dc55e8415c71afbe11f6b4eabac665.png) 0 0 no-repeat;
  background-size: 14px 42px;
}

i.cell-icon.tx-status-error {
  position: absolute;
  left: 0;
  top: 3px;
  width: 14px;
  height: 14px;
  background: url(/90dc55e8415c71afbe11f6b4eabac665.png) 0 -28px no-repeat;
  background-size: 14px 42px;
}

i.cell-icon.copy-icon {
  margin-left: 8px;
  background: url(/9f688b6396d18c1d84a168d2e6faf265.png) 0 0 no-repeat;
  background-size: 18px 72px;
  vertical-align: text-bottom;
  cursor: pointer;
}

i.cell-icon.copy-icon:hover {
  background: url(/9f688b6396d18c1d84a168d2e6faf265.png) 0 -18px no-repeat;
  background-size: 18px 72px;
}

i.cell-icon.qr-thumbnail-icon {
  margin-left: 8px;
  background: url(/9f688b6396d18c1d84a168d2e6faf265.png) 0 -36px no-repeat;
  background-size: 18px 72px;
  vertical-align: text-bottom;
}

i.cell-icon.qr-thumbnail-icon:hover {
  background: url(/9f688b6396d18c1d84a168d2e6faf265.png) 0 -54px no-repeat;
  background-size: 18px 72px;
}

i.cell-icon.info-icon {
  margin-left: 5px;
  vertical-align: text-bottom;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  background-image: url(/f48bd3aac9da05acb65c4aca360ef488.png);
}

i.cell-icon.info-icon-black {
  margin-left: 5px;
  vertical-align: sub;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  background-image: url(/dc2a30d979a33f82942f97b058b05459.png);
}

i.block-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: no-repeat center center;
  background-size: 18px 18px;
  vertical-align: middle;
}

i.block-icon.token-name-icon {
  margin-right: 5px;
  vertical-align: text-bottom;
}

i.block-icon.view-more-icon {
  margin-left: 15px;
  width: 16px;
  height: 16px;
  background: url(/ed3a167734cd7705eb6caba213e66739.png) 0 -16px no-repeat;
  background-size: 16px 32px;
  vertical-align: text-top;
  cursor: pointer;
}

i.block-icon.view-more-icon:hover {
  background: url(/ed3a167734cd7705eb6caba213e66739.png) 0 0px no-repeat;
  background-size: 16px 32px;
}

i.block-icon.insights-icon {
  width: 24px;
  height: 24px;
  background: url(/c6e9c8cf63553cc2ef51f194c0229540.png) 0 0 no-repeat;
  background-size: 24px 48px;
  vertical-align: bottom;
  margin-right: 3px;
  cursor: pointer;
}

i.block-icon.piechart-icon {
  width: 24px;
  height: 24px;
  background: url(/c6e9c8cf63553cc2ef51f194c0229540.png) 0 -24px no-repeat;
  background-size: 24px 48px;
  vertical-align: bottom;
  margin-right: 3px;
  cursor: pointer;
}

.expand-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(/3d3a37ed36f739eed5929eaada3826df.png) no-repeat center center;
  background-size: 18px 18px;
  vertical-align: bottom;
}

.transfer-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(/144d789e70fb4233930f2585f1dbb3b9.png) no-repeat center center;
  background-size: 16px 16px;
  vertical-align: bottom;
}

.increase-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  position: relative;
}

.increase-icon:after {
  content: '';
  top: -5px;
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 6px solid transparent;
  border-bottom: 6px solid #52C41A;
}

.decline-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  position: relative;
}

.decline-icon:after {
  content: '';
  top: 2px;
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 6px solid transparent;
  border-top: 6px solid #F5222D;
}

.rate-placeholder {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
}

.increase-text {
  color: #52C41A;
}

.decline-text {
  color: #F5222D;
}

.success-text {
  color: #52C41A;
}

.warning-text {
  color: #faad14;
}

.error-text {
  color: #F5222D;
}

.minor-text {
  color: #999;
  font-size: 12px;
  margin-right: 12px;
}

.info-title {
  margin-left: 10px;
  font-weight: 400;
}

.max-limit-tip {
  font-size: 12px;
  color: rgba(0, 0, 0, .45);
  margin-left: 5px;
}

.remark-tip {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, .65);
  line-height: 36px;
}

.list-header h2 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.list-header .info-title {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.notification-bar {
  margin-bottom: 8px;
}

.notification-bar a.link {
  color: #1F4079;
  text-decoration: underline;
}

#intercom-container .intercom-launcher-frame[name='intercom-launcher-frame'] {
  background: #37acf6 !important;
}

.img1 {
  background: url(/img/1.png) no-repeat;
  background-size: 234px 40px;
  width: 234px;
  height: 40px;
  display: inline-block;
}

.img2 {
  background: url(/img/2.png) no-repeat;
  background-size: 234px 40px;
  width: 234px;
  height: 40px;
  display: inline-block;
}


/*# sourceMappingURL=bd8c3e60200f6ef59551.css.map*/